# Cassandra Node IP=Data Center:Rack

{% for node in groups['cassandra_nodes']  %}
{{ hostvars[node].node_ip }}={{ hostvars[node].dc }}:{{ hostvars[node].rack }}
{% endfor %}

# default for unknown nodes
default=DC1:RAC1

# Native IPv6 is supported, however you must escape the colon in the IPv6 Address
# Also be sure to comment out JVM_OPTS="$JVM_OPTS -Djava.net.preferIPv4Stack=true"
# in cassandra-env.sh
#fe80\:0\:0\:0\:202\:b3ff\:fe1e\:8329=DC1:RAC3

