# See http://wiki.apache.org/cassandra/StorageConfiguration for full explanations of configuration directives

cluster_name: '{{ cluster_name }}'
num_tokens: {{ num_tokens }}

# allocate_tokens_for_keyspace: KEYSPACE
# initial_token:

hinted_handoff_enabled: true
hinted_handoff_throttle_in_kb: 1024
# hinted_handoff_disabled_datacenters:
#    - DC1
#    - DC2

max_hint_window_in_ms: 10800000 # 3 hours
max_hints_delivery_threads: 2
max_hints_file_size_in_mb: 128

hints_directory: /data/cassandra/hints
hints_flush_period_in_ms: 10000
# hints_compression:
#    - class_name: LZ4Compressor
#      parameters:
#          -

batchlog_replay_throttle_in_kb: 1024

authenticator: AllowAllAuthenticator
authorizer: AllowAllAuthorizer
role_manager: CassandraRoleManager
roles_validity_in_ms: 2000
# roles_update_interval_in_ms: 1000
permissions_validity_in_ms: 2000
# permissions_update_interval_in_ms: 1000

partitioner: org.apache.cassandra.dht.Murmur3Partitioner

data_file_directories:
    - /data/cassandra/data

commitlog_directory: /data/cassandra/commitlog

disk_failure_policy: stop
commit_failure_policy: stop
key_cache_size_in_mb:
key_cache_save_period: 14400
# key_cache_keys_to_save: 100
# row_cache_class_name: org.apache.cassandra.cache.OHCProvider
row_cache_size_in_mb: 0
row_cache_save_period: 0
# row_cache_keys_to_save: 100
counter_cache_size_in_mb:
counter_cache_save_period: 7200 # 2 hours
# counter_cache_keys_to_save: 100

saved_caches_directory: /data/cassandra/saved_caches
commitlog_sync: periodic
commitlog_sync_period_in_ms: 10000
commitlog_segment_size_in_mb: 32
#commitlog_compression:
#    - class_name: LZ4Compressor
#      parameters:
#          -

seed_provider:
    - class_name: org.apache.cassandra.locator.SimpleSeedProvider
      parameters:
          # seeds is actually a comma-delimited list of addresses.
          # Ex: "<ip1>,<ip2>,<ip3>"
          - seeds: "{{ seeds }}"

concurrent_reads: 32
concurrent_writes: 32
concurrent_counter_writes: 32
concurrent_materialized_view_writes: 32

# file_cache_size_in_mb: 512
# buffer_pool_use_heap_if_exhausted: true
# disk_optimization_strategy: ssd
# memtable_heap_space_in_mb: 2048
# memtable_offheap_space_in_mb: 2048
# memtable_cleanup_threshold: 0.11
memtable_allocation_type: heap_buffers

# commitlog_total_space_in_mb: 8192
#memtable_flush_writers: 8
index_summary_capacity_in_mb:
index_summary_resize_interval_in_minutes: 60

trickle_fsync: false
trickle_fsync_interval_in_kb: 10240

storage_port: 7000
ssl_storage_port: 7001

listen_address: {{ private_ip }}
# listen_interface: eth0
# listen_interface_prefer_ipv6: false

broadcast_address: {{ node_ip }}

# listen_on_broadcast_address: false

# internode_authenticator: org.apache.cassandra.auth.AllowAllInternodeAuthenticator

start_native_transport: true
native_transport_port: 9042
# native_transport_port_ssl: 9142
# native_transport_max_threads: 128
# native_transport_max_frame_size_in_mb: 256
# native_transport_max_concurrent_connections: -1
# native_transport_max_concurrent_connections_per_ip: -1

start_rpc: false
rpc_address: 0.0.0.0
rpc_port: 9160
# rpc_interface: eth1
# rpc_interface_prefer_ipv6: false

broadcast_rpc_address: {{ node_ip }}

rpc_keepalive: true
rpc_server_type: sync
# rpc_min_threads: 16
# rpc_max_threads: 2048
# rpc_send_buff_size_in_bytes:
# rpc_recv_buff_size_in_bytes:

# internode_send_buff_size_in_bytes:
# internode_recv_buff_size_in_bytes:

thrift_framed_transport_size_in_mb: 15

incremental_backups: false
snapshot_before_compaction: false
auto_snapshot: true

tombstone_warn_threshold: 1000
tombstone_failure_threshold: 100000

column_index_size_in_kb: 64

batch_size_warn_threshold_in_kb: 5
batch_size_fail_threshold_in_kb: 50

unlogged_batch_across_partitions_warn_threshold: 10

#concurrent_compactors: 1
compaction_throughput_mb_per_sec: 16
compaction_large_partition_warning_threshold_mb: 128

sstable_preemptive_open_interval_in_mb: 50
# stream_throughput_outbound_megabits_per_sec: 200
# inter_dc_stream_throughput_outbound_megabits_per_sec: 200

# How long the coordinator should wait for read operations to complete
read_request_timeout_in_ms: {{ read_request_timeout_in_ms | default(5000) }}

# How long the coordinator should wait for seq or index scans to complete
range_request_timeout_in_ms: {{ range_request_timeout_in_ms | default(10000) }}

# How long the coordinator should wait for writes to complete
write_request_timeout_in_ms: {{ write_request_timeout_in_ms | default(2000) }}

# How long the coordinator should wait for counter writes to complete
counter_write_request_timeout_in_ms: {{ counter_write_request_timeout_in_ms | default(5000) }}

# How long a coordinator should continue to retry a CAS operation
# that contends with other proposals for the same row
cas_contention_timeout_in_ms: {{ cas_contention_timeout_in_ms | default(1000) }}

# How long the coordinator should wait for truncates to complete
# (This can be much longer, because unless auto_snapshot is disabled
# we need to flush first so we can snapshot before removing the data.)
truncate_request_timeout_in_ms: {{ truncate_request_timeout_in_ms | default(60000) }}

# The default timeout for other, miscellaneous operations
request_timeout_in_ms: {{ request_timeout_in_ms | default(10000) }}

cross_node_timeout: false

# streaming_socket_timeout_in_ms: 86400000 # 24 hours

phi_convict_threshold: 12

endpoint_snitch: GossipingPropertyFileSnitch

dynamic_snitch_update_interval_in_ms: 100 
dynamic_snitch_reset_interval_in_ms: 600000
dynamic_snitch_badness_threshold: 0.1

request_scheduler: org.apache.cassandra.scheduler.NoScheduler
# request_scheduler_options:
#    throttle_limit: 80
#    default_weight: 5
#    weights:
#      Keyspace1: 1
#      Keyspace2: 5

# request_scheduler_id: keyspace

server_encryption_options:
    internode_encryption: none
    keystore: conf/.keystore
    keystore_password: cassandra
    truststore: conf/.truststore
    truststore_password: cassandra
    # More advanced defaults below:
    # protocol: TLS
    # algorithm: SunX509
    # store_type: JKS
    # cipher_suites: [TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_DHE_RSA_WITH_AES_128_CBC_SHA,TLS_DHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA]
    # require_client_auth: false

# enable or disable client/server encryption.
client_encryption_options:
    enabled: false
    # If enabled and optional is set to true encrypted and unencrypted connections are handled.
    optional: false
    keystore: conf/.keystore
    keystore_password: cassandra
    # require_client_auth: false
    # Set trustore and truststore_password if require_client_auth is true
    # truststore: conf/.truststore
    # truststore_password: cassandra
    # More advanced defaults below:
    # protocol: TLS
    # algorithm: SunX509
    # store_type: JKS
    # cipher_suites: [TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_DHE_RSA_WITH_AES_128_CBC_SHA,TLS_DHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA]

internode_compression: all
inter_dc_tcp_nodelay: false

# TTL for different trace types used during logging of the repair process.
tracetype_query_ttl: 86400
tracetype_repair_ttl: 604800

# gc_log_threshold_in_ms: 200
gc_warn_threshold_in_ms: 1000

enable_user_defined_functions: false
enable_scripted_user_defined_functions: false

windows_timer_interval: 1

# max_value_size_in_mb: 256

# otc_coalescing_strategy: TIMEHORIZON
# otc_coalescing_window_us: 200
# otc_coalescing_enough_coalesced_messages: 8
# otc_backlog_expiration_interval_ms: 200

#############################################################
### Lekane changes ####
#############################################################
#auto_bootstrap: false
